/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    /***box-sizing:border-box permet de calibrer la boîte en y incluant à la fois le contenu, le fond et la bordure***/
}

a {
    color: black;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
h1{
    font-size: 22px;
}
p{
    font-size: 16px;
}
/****** Header ***********/
.menu {
    display: inline-block;
    position: relative;
    left: 1000px;
    top:5px;
    font-size: 16px;
  
 }
 img{
    width: 61px;
    height: 19px;
    margin-top:30px;
 }
.menu a:hover {
     color:#0065FC;
     text-decoration: overline;
     white-space:pre-line;
     line-height:2em;
 }
/**************** Search bar *****************/

form{
    display:flex;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: 35px;
}
fieldset{
    border: none;
}
label {
   background-color:#F2F2F2;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   padding: 10px 10px 10px 10px;
}
.cta {
    width:10%;
    height: 30px;
    margin-top: 0;
    background-color: #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: none;
    color: white;

}
input [type="icon"] {
    border: none;
}
.fa-magnifying-glass{
    visibility: hidden;
}
/*****************Filtres & info *****************/
.filtres{
    display:flex;
    flex-direction: row;
    gap:15px;
}
.filtres h3 {
    margin-top: 20;
}
.filter_item {
    margin-left: 0;
    gap:0; 
    border:#F2F2F2;
    font-weight: bold;
    font-size: 14px;
    border-style: solid;
    border-radius: 30px;
    padding:10px 10px 10px 10px;
    }

.filter_item i {
    margin-right: 10px;
}
 /* .fa-coins{ */
    /* margin-right: 10px;
 } */

 /* .fa-people-group{
    margin-right: 10px;
 } */

/* .fa-heart, .fa-gem{
    margin-right: 10px;
 } */
 .filter_item:hover{
    background-color:#DEEBFF;
}
.fa-info{
    font-size: 16px;
    border-style: solid;
    border-color: #f2f2f2;
    padding: 5px 10px 5px 10px ;
    border-radius: 140px;
    margin-top: 35px;
    margin-bottom: 35px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/******************* Hebergements ******************/
.hebergements {
    width: 100%;
}

.hebergements-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hebergements-cards .card {
    width: 30%;
    margin-top: 33px;
}

.hebergements-cards img {
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hebergements-cards .card-content {
    width: 100%;
    height: 110px;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 10px;
}
.card-subtitle{
    margin-left: 10px;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-left: 10px;
}
.afficherplus{
    font-size: 1em;
    font-weight: 700;
    margin-top: 20px;
    
}
/********************** Populaires *****************/
.populaires {
    width: 32%;
    margin-left: 40px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/**************** Activités *****************/
.activites{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.activites .activites-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 35px;
}
.activites .card {
    width:297.5px;
    height: 439px;
}
.activites .activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activites .card-title{
    margin-left: 20px;
}
/***************** Footer ******pb colonne assistance devrait être en 3ème position**************/
.basdepage{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 0;
    justify-content:space-between;
    background-color: #F2F2F2;
    width: 100%;
    height: 163px;
    padding: 20px 15px 20px 15px;
 }
 .basdepage a {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
 }
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Extra large devices */
@media screen and (min-width: 1441px) {
    body {
      margin: 0 50px;
    }
}
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        margin-left: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /***Activites responsive medium devices***/

    .activites {
        width:100%;
        margin-bottom: 50px;
    }
    .activites-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .activites-cards .card{
        width: 20%;
        height: 270px;
    }
    .activites-cards .card-title{
        width: auto;
    }
    .activites .activites-cards img{
        width: 100%;
        height: 200px;
        margin-left: 0;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {
    img {
         display: flex;
         align-self: center;
         width: 61px;
         height: 19px;
         padding-bottom:15px;
    }
    h1 {
        font-size:large;
    }
    header .menu {
        flex-direction:row;
        justify-content:center;
        gap: 100px;
        margin-left: 10px;
        margin-right: 10px;
     }
    header .menu a:hover {
        color:#0065FC;
        text-decoration: underline;
        text-align: justify;
    }
    .cta{
        visibility: hidden;
    }
    .fa-magnifying-glass{
        visibility: visible;
        background-color: #0065FC;
        color: #f2f2f2;
        border-radius: 10px;
        margin-left:0;
        padding :10px 10px 10px 10px;
    }
    /*****************Filtres & info responsive small devices***********/
    .filtres h3{
        justify-content: left;
    }
    .filtres{
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: 50px 50px;
    }
    .fa-info{
        margin-top: 150px;
    }
    /*****Hebergement and populaires responsive small devices ***/

    .hebergements-and-populaires section {
        flex-direction: column;
        background-color: transparent;
        margin-left: 0;
        margin-top: 5px;
    }
    /****Populaires responsive small devices***/
    .populaires-title {
        display: flex;
        justify-content:flex-start;
        gap: 25px;
    }
    .populaires .populaires-cards{
        flex-direction: column;
        justify-content: space-between;
    }
    .populaires .card{
        width: 120%;
    }
    .populaires .populaires-cards img {
        width: 40%;
        height: 146px;
        margin-left: 0;
    }
    .populaires .card-title{
        margin-top: 0;
    }
    .populaires .card-content{
        padding-left:5px;
    }
    /*******Hebergements responsive small devices***/
    .hebergements .hebergements-cards{
        flex-direction: column;
        gap:15px;
    }
    .hebergements .hebergements-cards img{
        width: 100%;
        height: 125px;
        margin-left: 0;
    }
    .hebergements .card{
        width: 250px;
        height: 230px;
    }
    
    /*****Activites responsive small devices***/

    .activites .activites-cards{
        flex-direction: column;
    }
    .activites .activites-cards img{
        width: 100%;
        height: 141px;
        margin-left: 0;
    }
    .activites .card{
        width: 100%;
        height: 200px;
        margin-bottom:35px;
    }
    .activites .card-title{
        margin-top: 10px;
    }
    /*****Footer responsive small devices****/
    .basdepage{
        display: grid;
        grid-template-columns: 200px;
        gap:5px;
        height: auto;
        width:100%;
    }
    /* ... */
}