/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    /***box-sizing:border-box permet de calibrer la boîte en y incluant à la fois le contenu, le fond et la bordure***/
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-cards{
    display: flex;
    flex-direction:1fr 1fr 1fr;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hebergements-cards .card {
    width: 30%;
    height: 150px;
    margin-top: 33px;
}

.hebergements-cards img {
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hebergements-cards .card-content {
    width: 30%;
    height: 30px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 10px;
}
.card-subtitle{
    margin-left: 10px;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-left: 10px;
}
.afficherplus{
    font-size: 1em;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 700px;
    
}
/****** Populaires ***********/
.populaires {
    width: 32%;
    margin-left: 40px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/**************** Ce que VS a rajouté *****************/
.menu {
   display: flex;
   flex-direction: row;
   justify-content: end;
   gap: 30px;
 
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color:#0065FC;
    text-decoration: overline;
}
form{
    display:flex;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: 35px;
}
fieldset{
    border: none;
}
label{
   height: 49px;
   background-color:#F2F2F2;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   padding: 10px 10px 10px 10px;
}
.cta {
    width:10%;
    height: 30px;
    margin-top: 0;
    background-color: #0065FC;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: none;
    color: white;

}
input [type="icon"] {
    border: none;
}
.fa-info{
    border-style: solid;
    border-color: #f2f2f2;
    padding: 5px 10px 5px 10px ;
    border-radius: 140px;
}
.filtres {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap :wrap;
    gap: 50px;
}
.economique {
    border:#F2F2F2;
    border-style: solid;
    border-radius: 30px;
    padding:10px 10px 10px 10px;
}
 .fa-coins{
    margin-right: 10px;
 }
 .familial {
    border:#F2F2F2;
    border-style: solid;
    border-radius: 30px;
    padding:10px 10px 10px 10px;
 }
 .fa-people-group{
    margin-right: 10px;
 }
 .romantique {
    border:#F2F2F2;
    border-style: solid;
    border-radius: 30px;
    padding:10px 10px 10px 10px;
 }
 .romantique:hover{
    background-color:#DEEBFF;
}
.fa-heart{
    margin-right: 10px;
 }
 .nospepites {
    border:#F2F2F2;
    border-style: solid;
    border-radius: 30px;
    padding:10px 10px 10px 10px;
 }
 .fa-gem{
    margin-right: 10px;
 }
 .basdepage {
    display:grid;
    grid-template-columns: 200px 200px  200px;
    gap: 50px;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 0;
    padding-bottom: 30px;
    padding-top: 5px;
 }
/**************** Activités *****************/
.activites{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.activites-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 35px;
}
.activites .card {
    width:298px;
    height: 439px;
}
.activites-cards img{
    width: 100%;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-title{
    margin-left: 20px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}